/*
Tutorial Name: Full Page Animated Transition
Author: Samuel Dalusung
*/


/* GENERAL STYLES
-------------------------------------------------*/

body {
width: 100%;
}


h1 {
    text-align: center;
    margin-top: 120px;
}

.main-wrapper {
    background-color: red;
}

.menu {
    position: absolute;
    margin-left: 20px;
    
}

.menu a {
    color: #fff;
}

.menu a.home, 
.menu a.section-2, 
.menu a.section-3,
.menu a.section-4 {
    font-family: 'Playfair Display SC', serif;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    margin: 25px auto;
    width: 13%;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #fff;
}

.menu a.home.active, 
.menu a.section-2.active,
.menu a.section-3.active,
.menu a.section-4.active {
    background-color: #0050a0;
    cursor: default;
    border: 1px solid #fff;
}


.menu a.home:hover, 
.menu a.section-3:hover, 
.menu a.section-2:hover,
.menu a.section-4:hover {
    background: #0050a0;
    color: #fff;
} 

.content1, .content2, .content3, .content4 {
    padding-top: 40px;
    display: none;
}


a.home, a.section-2, a.section-3, a.section-4 {
    font-family: 'Playfair Display SC', serif;
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 10px;
    text-align: center;
    margin: 25px auto;
    width: 13%;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;

}

.content1 .home.active, 
.content2 .section-2.active,
.content3 .section-3.active,
.content4 .section-4.active {
    background-color: green;
    cursor: default;
}


a.home:hover, 
a.section-3:hover, 
a.section-2:hover,
a.section-4:hover {
    background: lightsalmon;
    color: #fff;
} 


/* Section 1
-------------------------------------------------*/

#section1 {
    height: 25px;
    width: 375px;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    display: none;
    background-color: #04060a;
}



.title-wrapper h1 {
    margin-top: 230px;
    font-family: 'Playfair Display SC', serif;
    font-size: 100px;
    background: -webkit-linear-gradient(#10ed4f, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    font-weight: 600;
}

.title-wrapper p {
    color: #4c514e;
    text-align: center;
}


/* Section 2
-------------------------------------------------*/
#section2 {
    height: 25px;
    width: 375px;
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	display: none;
    background-color: #111921;
    text-align: center;
}

.layout, .project {
    margin: 0 auto;
    max-width: 900px;
}

.layout h1 {
    margin-top: 230px;
    font-family: 'PT Serif Caption', serif;
    font-size: 100px;
    text-shadow: 3px 3px 4px #000;
    color: #fff;
}

hr {
   margin-bottom: 40px; 
}

.layout-link, .project-link {
    text-decoration: none;
    color: #fff;
    border:1px solid #fff;
    padding: 10px 20px;
    position: relative;
    z-index:2;
}

.layout-link:after, .project-link:after {
    -moz-transition:all .5s cubic-bezier(.165,.84,.44,1);
    -o-transition:all .5s cubic-bezier(.165,.84,.44,1);
    -webkit-transition:all .5s cubic-bezier(.165,.84,.44,1);
    transition:all .5s cubic-bezier(.165,.84,.44,1)
}

.layout-link:hover, .project-link:hover {
    border-color:#fff;
}

.layout-link:hover:after, .project-link:hover:after {
    width:100%
}

.layout-link:after, .project-link:after {
    content:"";
    position: absolute;
    z-index:-1;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color: rgba(237, 206, 7, 0.8);
}


/* Section 3
-------------------------------------------------*/
#section3 {
    height: 25px;
    width: 375px;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background-color: #17231c;
    display: none;
    text-align: center;
}

.project h1 {
    margin-top: 230px;
    font-family: 'PT Serif Caption', serif;
    font-size: 100px;
    text-shadow: 3px 3px 4px #000;
    color: #fff;
}

/* Section 4
-------------------------------------------------*/
#section4 {
    height: 25px;
    width: 375px;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background-color: #001107;
    display: none;
    text-align: center;
}

.contact-wrapper {
    max-width: 900px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Playfair Display SC', serif;
}

.contact-wrapper .about-me-wrapper h1 {
    color: #fff;
    font-size: 80px;
    font-family: 'PT Serif Caption', serif;
}

h4 {
    font-size: 160%;   
    margin-bottom: 20px;
    font-weight: 600;
}

.email {
    font-family: 'Lora', serif;
    font-weight: 0;
    padding-bottom: 50px;
}

.contact-wrapper .about-me-wrapper p {
    margin-bottom: 20px;
}

.contact-wrapper .about-me-wrapper ul li{
    display: inline-block;
    padding: 20px;
    font-size: 30px;
}

.contact-wrapper .about-me-wrapper ul li a {
    color: #fff;
}

.contact-wrapper .about-me-wrapper ul li a:hover {
    color: #035399;
}

.small-text {
    font-size: 80%;
    color: #4c514e;
}